.order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    padding-bottom : 2px;
}

