$fonts : (
    (
        font-family: BebasNeue,
        font-weight: 700,
        font-style: regular,
        filename: BebasNeue-Regular,
    ),
    (
        font-family: OpenSans,
        font-weight: 700,
        font-style: regular,
        filename: OpenSans-Bold,
    ),
    (
        font-family: OpenSans,
        font-weight: 400,
        font-style: regular,
        filename: OpenSans-Regular,
    ),
);