.graphics {
    background-image: url(../images/sos-house.png);
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 235px;
    background-position-x: 80%;
    left: 52px;
    background-position-y: 100%;
    padding-bottom: 235px;
} .graphics h1 {
  font-size: 14px;
  text-align: center;
} .graphics h2 {
  font-size: 20px;
  text-align: center;
}


.table {
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  border: 1px solid ;
} dt {
  color: $site-heading-color;
}

@media(min-width: 1114px) {
  .graphics-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  } h1 {
    font-size: 24px;
  } h2 {
    font-size: 50px;
  }
}
