.graphics {
    background-image: url(../images/sos-house.png);
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 235px;
    background-position-x: 80%;
    left: 52px;
    background-position-y: 100%;
    padding-bottom: 235px;
} .graphics h1 {
  font-size: 14px;
  text-align: center;
} .graphics h2 {
  font-size: 20px;
  text-align: center;
}


.table {
    table-layout: auto;
    width: 100%;
    margin: 20px auto;
  }
  
  table {
      table-layout: fixed;
      color: white;
      margin-left: 10px;
  }
  
  table tr th {
    border-collapse: collapse;
    margin: 0;
  }

  .table-headings {
    color: #ffB548;
  }
  
  tr th {
    border: 1px solid;
    padding: 10px;
  }

