.masthead {
    background-image: url("../images/bg-image-masthead.svg");
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
}

.lang {
    position: absolute;
    top: 18px;
    left: 60%;
    opacity: 0.5;
    text-transform: uppercase;
    border: 0.8px solid #FFFFFF;
}


.logo  {
    margin-inline-start: 15px;
    padding-top: 10px;
}


.start-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.experience-new-game {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.choices {
    background-image: url(../images/scroll-down.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 43px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media (min-width: 1114px) {
    .logo  {
        background-repeat: no-repeat;
        margin-left: 120px;
        width: 55px;
        padding-top: 10px;
    } .start-play {
        font-size: 50px;
    } .experience-new-game {
        font-size: 24px;
    }.main-heading {
        padding-top: 534px;
    }
}