.masthead {
    background-image: url("../images/angelina-andreas-jungleruins\ 1.svg");
    background-repeat: no-repeat;
    width: 320px;
    height:  650px;
    min-width: 100%;
    background-size: cover;
    padding-bottom: 30px;
}

.lang {
    position: absolute;
    top: 18px;
    left: 60%;
    opacity: 0.5;
    text-transform: uppercase;
    border: 0.8px solid #FFFFFF;
}


.logo {
    margin-inline-start: 15px;
    padding-top: 10px;
}


.start-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.experience-new-game {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-heading {
    padding-top: 30%;
}

.choices {
    background-image: url(../images/scroll-down.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 43px;
}