.site-testimonial {
    background:  #080A0B 99.74%;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.08);
    max-height: 147px;
    max-width: 289px;
    border-radius: 10px;
    background-image: url(./images/twitter.png);
    background-repeat: no-repeat;
  }
  

 .container li:first-child {
      color: #FFB548;
  }