html {
  box-sizing: border-box; }

body {
  font-family: "open sans";
  font-size: 16px;
  margin: auto;
  background: #080A0B; }

p {
  color: white; }

img {
  max-width: 100%; }

ul li {
  list-style: none; }

ul a {
  text-decoration: none; }

h1, h2, h3, h4, p, summary {
  color: white; }

summary::-webkit-details-marker {
  display: none; }

.masthead {
  background-image: url("../images/bg-image-masthead.svg");
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover; }

.lang {
  position: absolute;
  top: 18px;
  left: 60%;
  opacity: 0.5;
  text-transform: uppercase;
  border: 0.8px solid #FFFFFF; }

.logo {
  margin-inline-start: 15px;
  padding-top: 10px; }

.start-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.experience-new-game {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase; }

.choices {
  background-image: url(../images/scroll-down.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 43px; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: end; }

@media (min-width: 1114px) {
  .logo {
    background-repeat: no-repeat;
    margin-left: 120px;
    width: 55px;
    padding-top: 10px; }
  .start-play {
    font-size: 50px; }
  .experience-new-game {
    font-size: 24px; }
  .main-heading {
    padding-top: 534px; } }

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.buying-btn {
  padding-bottom: 256px;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

button {
  width: 200px;
  height: 48px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  padding-bottom: 2px;
  border: none;
  border-radius: .25rem; }

button a {
  color: black;
  font-size: bold; }

.game-information {
  position: relative;
  margin-left: 37px;
  padding-bottom: 113%; }

.big-heading {
  padding-bottom: 40px;
  margin-left: 13px;
  border-block-end: 1px solid; }

.title-of-games {
  margin-left: 14px; }

.more-explanation {
  margin-left: 36px;
  margin-right: 14px; }

@media (min-width: 1114px) {
  .title-of-games {
    font-size: 24px;
    margin-left: 120px; }
  .big-heading {
    font-size: 50px;
    margin-left: 119px; }
  .more-explanation {
    margin-left: 307px; } }

.game-information {
  padding-top: 120% 38px; }

.image-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: calc(100% * 273 / 249); }

.image {
  position: absolute; }

.image:nth-of-type(1) {
  top: 0;
  transform-origin: 100% 0%;
  z-index: 5;
  padding-top: calc(100% * 24 / 249);
  right: 0;
  transform: scale(calc((273 - 48) / 273)); }

.image:nth-last-of-type(2) {
  z-index: 2;
  right: 0;
  left: calc(100% * 24 / 249);
  transform: scale(1);
  padding-top: 0; }

.image:nth-of-type(3) {
  z-index: 3;
  padding-top: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  transform: scale(calc((273 - 24) / 273)); }

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.features {
  background-image: url(../images/bg-image-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 85px;
  padding-left: 40%; }

.features-detail {
  margin-right: 24px; }

.features-heading {
  margin-right: 20px;
  margin-left: 116px; }

summary {
  color: #ffB548;
  text-transform: uppercase; }

.features-heading h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0; }

.features-heading h4 {
  text-transform: uppercase;
  font-size: 33px;
  margin-top: 0; }

@media (min-width: 1114px) {
  .features-heading {
    margin-left: 798px; }
  h3 {
    font-size: 24px;
    margin-top: 150px;
    margin-bottom: 0; }
  h4 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0; }
  .features-detail {
    margin-top: 85px;
    margin-left: 842px; } }

.features-detail details {
  position: relative;
  padding-left: 20px; }

.features-detail summary::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  box-sizing: border-box; }

.features-detail details[open] summary::before {
  background-color: white; }

.graphics {
  background-image: url(../images/house-sos.png);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: cover;
  padding-bottom: 235px; }

.graphics h1 {
  font-size: 14px;
  text-align: center; }

.graphics h2 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 60px; }

.table {
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

dt {
  color: #ffB548; }

@media (min-width: 1114px) {
  .graphics-heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 50px; } }

.row {
  border: 1px solid white;
  border-inline-end: 10px;
  margin-block-start: -17px;
  padding-left: 9px; }

.row:nth-of-type(1) {
  margin-inline-end: -17px; }

.row:nth-of-type(5) {
  grid-column: 1 / 3; }

.site-testimonial {
  background: #080A0B 99%; }

.site-testimonial-headings {
  margin-left: 15px; }

h1 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  padding-top: 35px; }

h2 {
  text-transform: uppercase;
  font-size: 20px; }

.container {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-left: 15px;
  background-image: url(../images/twitter.png);
  background-repeat: no-repeat;
  background-position: 85%;
  background-position-y: 36%;
  max-width: 290px;
  width: 100%;
  margin: auto; }

.container li:first-child {
  display: flex;
  flex-direction: row;
  position: absolute; }

.user-job:nth-of-type(2) {
  padding-bottom: 9px; }

.container ul {
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 15px; }

.container .user-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffB548; }

.user-job,
.date {
  color: #d6d2d2; }

.users-quote,
.date {
  margin-left: 16px; }

ul .user-name {
  margin-left: 75px; }

ul .user-job {
  margin-left: 75px; }

@media (min-width: 1114px) {
  .container {
    max-width: 461px; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 50px; } }

.site-news {
  color: white;
  background-image: url(../images/mayan-raul.svg);
  background-repeat: no-repeat; }

.site-news h1, p {
  margin: 0;
  padding: 0; }

aside {
  display: block;
  float: right;
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  min-width: calc(100% - 37%);
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%); }

aside > p {
  margin: .5rem; }

aside > ul > li {
  font-size: 33px;
  text-transform: uppercase; }

footer > nav {
  padding-top: 62px; }

.link-header {
  top: -30px;
  left: 88px;
  position: relative; }

.homepage-site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  padding-left: 0;
  margin-left: 23px;
  margin-right: 26px;
  font-size: 12px;
  padding-top: 21px;
  margin-top: 0;
  margin-bottom: 0; }

ul > li > a {
  color: white; }

span {
  visibility: hidden; }

.share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 28px;
  margin: 0; }

.service {
  border-block-start: solid .25px grey;
  padding-bottom: 13px;
  margin-bottom: 0;
  margin-left: 15px; }

.service p {
  color: grey;
  padding-left: 0;
  font-size: 12px;
  padding-top: 20px; }

.outpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding-bottom: 62px;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0; }
