html {
  box-sizing: border-box; }

body {
  font-family: "open sans";
  font-size: 16px;
  margin: auto;
  background: #080A0B; }

p {
  color: white; }

img {
  max-width: 100%; }

ul li {
  list-style: none; }

ul a {
  text-decoration: none; }

h1, h2, h3, h4, p, summary {
  color: white; }

.masthead {
  background-image: url("../images/bg-image-masthead.svg");
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: cover; }

.lang {
  position: absolute;
  top: 18px;
  left: 60%;
  opacity: 0.5;
  text-transform: uppercase;
  border: 0.8px solid #FFFFFF; }

.logo {
  margin-inline-start: 15px;
  padding-top: 10px; }

.start-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.experience-new-game {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase; }

.choices {
  background-image: url(../images/scroll-down.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-bottom: 43px; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: end; }

@media (min-width: 1114px) {
  .logo {
    background-repeat: no-repeat;
    margin-left: 120px;
    width: 55px;
    padding-top: 10px; }
  .start-play {
    font-size: 80px; }
  .experience-new-game {
    font-size: 24px; }
  .main-heading {
    padding-top: 534px; } }

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.buying-btn {
  padding-bottom: 256px;
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

button {
  width: 200px;
  height: 48px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  padding-bottom: 2px;
  border: none;
  border-radius: .25rem; }

button a {
  color: black;
  font-size: bold; }

.game-information {
  position: relative;
  margin-left: 37px;
  padding-bottom: 113%;
  width: 11%;
  height: 15%; }

.big-heading {
  padding-bottom: 40px;
  margin-left: 13px;
  border-block-end: 1px solid; }

.title-of-games {
  margin-left: 14px; }

.more-explanation {
  margin-left: 36px;
  margin-right: 14px; }

.slide-image {
  position: relative;
  padding: 0; }

.first-img {
  position: absolute;
  z-index: 3;
  width: 225px;
  height: 273px; }

.scd-img {
  position: absolute;
  z-index: 2;
  left: .5rem;
  top: .5rem; }

.third-img {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem; }

@media (min-width: 1114px) {
  .title-of-games {
    font-size: 24px;
    margin-left: 120px; }
  .big-heading {
    font-size: 80px;
    margin-left: 119px; }
  .more-explanation {
    margin-left: 307px; } }

.features {
  background-image: url(../images/bg-image-3.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vw * 418 / 637);
  background-size: cover; }

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 70px; }

.features-detail {
  margin-right: 24px; }

.features-heading {
  margin-right: 20px; }

summary {
  color: #ffB548;
  text-transform: uppercase; }

@media (min-width: 1114px) {
  .features-heading {
    margin-left: 798px; }
  h3 {
    font-size: 24px;
    margin-top: 150px;
    margin-bottom: 0; }
  h4 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0; }
  .features-detail {
    margin-top: 85px;
    margin-left: 842px; } }

.graphics {
  background-image: url(../images/sos-house.png);
  background-repeat: no-repeat;
  padding-top: 65px;
  padding-bottom: 235px;
  background-position-x: 80%;
  left: 52px;
  background-position-y: 100%;
  padding-bottom: 235px; }

.graphics h1 {
  font-size: 14px;
  text-align: center; }

.graphics h2 {
  font-size: 20px;
  text-align: center; }

.table {
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  border: 1px solid; }

dt {
  color: #ffB548; }

@media (min-width: 1114px) {
  .graphics-heading {
    display: flex;
    flex-direction: column;
    align-items: center; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 50px; } }

.site-testimonial {
  background: #080A0B 99.74%; }

.site-testimonial-headings {
  margin-left: 15px; }

h1 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px; }

h2 {
  text-transform: uppercase;
  font-size: 20px; }

.container {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-left: 15px;
  background-image: url(../images/twitter.png);
  background-repeat: no-repeat;
  left: 0%;
  top: 100%;
  max-width: 290px; }

@media (min-width: 1114px) {
  .container {
    max-width: 461px; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 50px; } }

.container .user-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffB548; }

.user-job,
.date {
  color: #d6d2d2; }

.users-quote,
.date {
  margin-left: 16px; }

ul .user-name {
  margin-left: 75px; }

ul .user-job {
  margin-left: 75px; }

.first-user {
  background-image: url(../images/first-user-1.svg);
  background-repeat: no-repeat;
  padding-left: 16px;
  padding-top: 10px; }

.scd-user {
  background-image: url(../images/second-user.svg);
  background-repeat: no-repeat;
  padding-left: 16px;
  padding-top: 10px; }

.third-user {
  background-image: url(../images/third-user.svg);
  background-repeat: no-repeat;
  padding-left: 16px;
  padding-top: 10px; }

.site-news {
  color: white;
  padding-top: 33px;
  background-image: url(../images/mayan-raul.svg);
  background-repeat: no-repeat; }

aside {
  display: block;
  float: right; }

footer > nav {
  padding-top: 62px; }

.link-header {
  top: -30px;
  left: 88px;
  position: relative; }

.homepage-site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  padding-left: 0;
  margin-left: 23px;
  margin-right: 26px;
  font-size: 12px;
  padding-top: 21px;
  margin-top: 0;
  margin-bottom: 0; }

ul > li > a {
  color: white; }

span {
  visibility: hidden; }

.share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 28px;
  margin: 0; }

.service {
  border-block-start: solid .25px grey;
  padding-bottom: 13px;
  margin-bottom: 0;
  margin-left: 15px; }

.service p {
  color: grey;
  padding-left: 0;
  font-size: 12px;
  padding-top: 20px; }

.outpost {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding-bottom: 62px;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 0; }
